<p-dialog [(visible)]="display" [style]="{height: '100vw',width: '50vw'}">
  <ng-template pTemplate="header">
    <h3>Créer un topic</h3>
  </ng-template>
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="topicForm"
  >


  <span class="p-float-label">
    <input formControlName="title" id="title-input" pInputText type="text">
    <label for="title-input">Titre</label>
  </span>

    <span class="p-float-label mt-4">
    <textarea cols="30" formControlName="message" id="float-input" pInputTextarea rows="5"></textarea>
    <label for="float-input">Message</label>
  </span>

    <div class="container flex align-items-center justify-content-start">
      <p-checkbox [binary]="true" formControlName="isPinned" label="Epingler" name="groupname"></p-checkbox>
      <p-checkbox [binary]="true" formControlName="isLocked" label="Verrouiller" name="groupname"></p-checkbox>
    </div>


    <div class="mt-2">
      <p-treeSelect [options]="categoriesNodes" class="mt-5" formControlName="category"
                    placeholder="Sélectionner une catégorie"></p-treeSelect>
    </div>

    <button class="p-button-raised p-button-warning" label="Annuler" pButton pRipple type="button"></button>
    <button [disabled]="!topicForm.valid" class="p-button-raised p-button-primary" label="Créer" pButton pRipple
            type="submit"></button>

  </form>

</p-dialog>

<button (click)="showDialog()" class="mt-5" label="Créer un topic" pButton type="button"></button>

